.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.form > div {
  display: grid;
  grid-template-columns: 13rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.form > div> label {
  font-weight: bold;
}

.form > div > input {
  height: 1.3rem
}

.content> div {
  display: grid;
  grid-template-columns: 13rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.content > div > label{
  font-weight: bold;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
