.App {
  text-align: center;
}

.body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 5rem;
}

.contactForm > div {
  display: grid;
  grid-template-columns: 13rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.contactForm > div> label {
  font-weight: bold;
}

.contactForm > div > input {
  height: 1.3rem
}

.contactContent> div {
  display: grid;
  grid-template-columns: 13rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.contactContent > div > label{
  font-weight: bold;
}

.educationForm > div {
  display: grid;
  grid-template-columns: 16rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.educationForm > div> label {
  font-weight: bold;
}

.educationForm > div > input {
  height: 1.3rem
}

.educationContent> div {
  display: grid;
  grid-template-columns: 16rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.educationContent > div > label{
  font-weight: bold;
}

.workForm > div {
  display: grid;
  grid-template-columns: 16rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.workForm > div> label {
  font-weight: bold;
}

.workForm > div > input {
  height: 1.3rem
}

.workContent> div {
  display: grid;
  grid-template-columns: 16rem auto;
  text-align: left;
  height: 3rem;
  align-items: center;
}

.workContent > div > label{
  font-weight: bold;
}